img{
    width:200px;
    height: 200px;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image:url("https://th.bing.com/th/id/R.f94d35da08445944cf0ca544a41ad87c?rik=Ufi5CaAjVAiQmw&riu=http%3a%2f%2fwan-chang.com%2fkindeditor%2fattached%2fimage%2f20210414%2f20210414181857_55762.png&ehk=VqiU5FWrpyYd%2fwgu5ZasfHdmVoHe%2frlo1sA71et8xpU%3d&risl=&pid=ImgRaw&r=0");
  background-repeat: no-repeat;
  background-position:50% 50%;
  background-size: cover;
}
h1, h2,h3,p {
    color: #ffffff;
}